{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
{% include "./components/_sticky_column.html.twig" %}

<div class="acceuil-container">
    <section id="acceuil">
        <h1 class="titre">EXPERTISE 
        <br> 
        <span class="lightblue titre">EN URBANISME</span> 
        <br>
        <span class="titre">AU SERVICE</span> 
        <br> 
        <span class="lightblue titre">DE VOS PROJETS</span></h1>

        <p>Ensemble, façonnons des espaces urbains<br>
         qui résonnent avec l’âme de la Guadeloupe</p>

        <div class="btn-container">
            <a class="btn-contact" href="{{path("app_contact")}}">PRENDRE RDV</a>
            <a class="btn-info" href="{{path("app_urbanisme")}}">EN SAVOIR +</a>
        </div>
    </section>
    
    <section id="activity" {{stimulus_controller("titleAnim")}}>
        <h2>DOMAINE D’ACTIVITÉ</h2>

        <p>Transformez la vision de votre projet en réalité concrète.</p>

        <div class="container">
            <p>Cliquez sur le service qui répond à votre besoin !</p>

            <div class="title-container">
                <a class="anim-title" href="{{path("app_expertise")}}">
                    <p>Étude & Expertise en urbanisme</p>
                </a>
            </div>
            <div class="title-container">
                <a class="anim-title" href="{{path("app_urbanisme")}}">
                    <p>Conception de document d’urbanisme</p>
                </a>
            </div>

        </div>

    </section>

    <section id="advantages">
        <h2> <span>CONCEPTION & CRÉATION :</span> <br>
         <span>LES AVANTAGES D’UN EXPERT</span> <br>
         <span>À VOS CÔTÉS</span></h2>

        <p>Avec le Cabinet Okaï, vivez l’expertise guadeloupéenne, 
        l’engagement et une vision  audacieuse. <br>
         <a class="discover-link" href="#">Découvrez-nous.</a></p>

        <div class="card-container">
            <div class="card">
                <h3 class="card-title">Expertise locale</h3>
                <p class="card-text"><span class="txt-weight">Compréhension</span> profonde du <span class="txt-weight">contexte guadeloupéen</span>.
                 <span class="txt-weight">Collaboration</span> étroite avec les <span class="txt-weight">acteurs locaux.</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Vision Écologique</h3>
                <p class="card-text">Engagement pour des <span class="txt-weight">solutions durables.</span>
                 Promotion de l’<span class="txt-weight">éco-construction.</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Accompagnement Personnalisé</h3>
                <p class="card-text"><span class="txt-weight">Écoute active</span> de vos besoins et ambitions.
                 <span class="txt-weight">Suivi régulier</span> tout au long du processus.</p>
            </div>
        </div>
        
        <a class="btn-contact" href="{{path("app_contact")}}">NOUS CONTACTER</a>
        
    </section>

    <section id="urbanisme">
        <h2>NOS SERVICES<span class="line-break"></span> EN URBANISME</h2>

        <div class="selector-container" {{stimulus_controller("selector")}}>
            <div class="selector-display">
                <div class="sel-card " id="1">
                    <h3 class="sel-card-title">
                        Permis de construire
                    </h3>
                    <p class="sel-card-text">
                        Nous croyons que chaque particulier mérite une expertise en urbanisme de qualité. De la conception d’un espace de vie à la navigation dans les réglementations locales de la Guadeloupe, notre service vous accompagne dans la réalisation de vos rêves urbains, alliant harmonie et durabilité.
                    </p>
                    <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
                </div>
                <div class="sel-card sel-card-hidden" id="2">
                    <h3 class="sel-card-title">
                        Autorisations préalables de travaux
                    </h3>
                    <p class="sel-card-text">
                        Les autorisations préalables de travaux valident la conformité des aménagements mineurs aux règles d’urbanisme locales. Elles sont un passage clé pour garantir une réalisation sans encombre et harmonieuse de votre projet.
                    </p>
                    <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
                </div>
                <div class="sel-card sel-card-hidden" id="3">
                    <h3 class="sel-card-title">
                        Dossiers SMGEAG
                    </h3>
                    <p class="sel-card-text">
                        Les autorisations préalables de travaux valident la conformité des aménagements mineurs aux règles d’urbanisme locales. Elles sont un passage clé pour garantir une réalisation sans encombre et harmonieuse de votre projet.
                    </p>
                    <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
                </div>
                <div class="sel-card sel-card-hidden" id="4">
                    <h3 class="sel-card-title">
                        Suivi des demandes administratives
                    </h3>
                    <p class="sel-card-text">
                        Les autorisations préalables de travaux valident la conformité des aménagements mineurs aux règles d’urbanisme locales. Elles sont un passage clé pour garantir une réalisation sans encombre et harmonieuse de votre projet.
                    </p>
                    <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
                </div>
                <div class="sel-card sel-card-hidden" id="5">
                    <h3 class="sel-card-title">
                        Étude de faisabilité avant-projet
                    </h3>
                    <p class="sel-card-text">
                        Avant chaque grand projet se cache une étude approfondie. Nous sondons les terrains techniques et environnementaux pour que votre vision urbanistique se concrétise sereinement.
                    </p>
                    <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
                </div>
                <div class="sel-card sel-card-hidden" id="6">
                    <h3 class="sel-card-title">
                        Dessin architectural
                    </h3>
                    <p class="sel-card-text">
                        Avant chaque grand projet se cache une étude approfondie. Nous sondons les terrains techniques et environnementaux pour que votre vision urbanistique se concrétise sereinement.
                    </p>
                    <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
                </div>
            </div>
            <div class="selector">
                    <a href="#" id="1">Permis de construire</a>
                    <a href="#" id="2">Autorisations préalables de travaux</a>
                    <a href="#" id="3">Dossiers SMGEAG</a>
                    <a href="#" id="4">Suivi des demandes administratives</a>
                    <a href="#" id="5">Étude de faisabilité avant-projet</a>
                    <a href="#" id="6">Dessin architectural</a>
            </div>
        </div>

        <a href="{{path("app_urbanisme")}}" class="btn-info">EN SAVOIR +</a>
    </section>

    <section id="cto">
        <h2>FAIRE APPEL <span class="line-break"></span> À NOS SERVICES</h2>

        <p>Vous souhaitez faire appel à notre expertise dans le cadre d’un de vos futurs projets ?</p>

        <div class="card-container">
            <div class="card">
                <div class="card-icon">
                    <img src="{{asset("/images/calendrier.svg")}}" alt="">
                </div>
                <h3 class="card-title">
                    Contactez - nous
                </h3>
                <p class="card-text">
                    Contactez notre cabinet par téléphone au <a href="tel:0690973217">0690 97 32 17</a> 
                    ou via <a class="link" href="#contact">notre formulaire de contact</a>
                    <br>
                </p>
            </div>

            <div class="card">
                <div class="card-icon">
                    <img src="{{asset("/images/mail.svg")}}" alt="">
                </div>
                <h3 class="card-title">
                    Prise de rdv
                </h3>
                <p class="card-text">
                    Notre urbaniste conviendra d’un RDV avec vous pour affiner votre projet et vous accompagner au mieux.
                </p>
            </div>

            <div class="card">
                <div class="card-icon">
                    <img src="{{asset("/images/message.svg")}}" alt="">
                </div>
                <h3 class="card-title">
                    Contact privilégié
                </h3>
                <p class="card-text">
                    Une fois votre cahier des charges validé, notre équipe vous informera régulièrement de l’évolution de votre dossier jusqu’à sa remise.
                </p>
            </div>
        </div>

        <a href="{{path("app_contact")}}" class="btn-contact">NOUS CONTACTER</a>
    </section>

    <section id="partners">
        <h2>ILS NOUS FONT CONFIANCE</h2>
        <div class="image-container">
        <h2 class="image-container-title">ILS NOUS FONT CONFIANCE</h2>
            <img src="{{asset("/images/marie-ton-projet.png")}}" alt="">
            <img src="{{asset("/images/epf.png")}}" alt="">
            <img src="{{asset("/images/HydroDomLogo.png")}}" alt="">
        </div>
    </section>

{% include "./components/_contact.html.twig" %}
</div>
{% endblock %}

