{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<meta name="description" content="{{guide.description}}">
<meta name="robots" content="max-image-preview:standard">
<meta property="og:title" content="{{guide.titre}}">
<meta property="og:description" content="{{guide.description}}">
<meta property="og:image" content="{{app.request.httpHost}}{{asset('guide_uploads/' ~ guide.thumbnail)}}">
<meta property="og:url" content="{{app.request.uri}}">
<meta property="og:site_name" content="Cabinet Okaï">
<meta property="og:type" content="article">

<meta property="article:author" content="{{guide.auteur}}">
<meta property="article:published_time" content="{{ guide.publishAt ? guide.publishAt|date('c',"America/Guadeloupe") : '' }}">
<meta property="article:modified_time" content="{{ guide.publishAt ? guide.publishAt|date('c',"America/Guadeloupe") : '' }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{guide.titre}}">
<meta property="twitter:description" content="{{guide.description}}">
<meta property="twitter:image" content="{{app.request.httpHost}}{{asset('guide_uploads/' ~ guide.thumbnail)}}">
{% endblock  %}

{% block title %}{{guide.titre}}  {% endblock %}

{% block body %}

<div class="post-container">
    <div class="summary" style="background-image : url('{{asset('guide_uploads/' ~ guide.thumbnail)}}')">
        <div class="bg-overlay"></div>
        <div class="summary-text">
            <h1>{{guide.titre}}</h1>

            <div class="info">
                <p> {{guide.auteur}} </p>
                <p> {{guide.readingtime}} min</p>
            </div>

            <p class="description">
                {{guide.description}}.
            </p>

            <div class="list">

            </div>
        </div> 
    </div>


    <div class="article-container">
    <div class="title-container">
        <h2 class="subpart-title">{{guide.titre}}</h2>
        <div class="underline-container">
            <div class="underline"></div>
        </div>
    </div>

        <div class="post-content" {{stimulus_controller('tinycss')}} >

                {{guide.content | raw}}

        </div>
    </div>
</div> 

{% endblock %}
