<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <a class="logo-container" href="{{ path("app_home")}}">
            <img class="logo" src="{{asset("images/logo.png")}}" alt="">
        </a>
        <nav class="hidden">
            <img id="menu_icon_close" class="menu-icon menu-icon-close" src="{{asset("images/hamburger-menu.png")}}" alt="">
            <ul class="list-container">
            <li><a class="nav-link" href="#">Qui sommes-nous</a></li>
            <li><a class="nav-link" href="#">Expertise</a></li>
            <li><a class="nav-link" href="#">Documents d'urbanisme</a></li>
            <li><a class="nav-link" href="{{ path("app_guide_index")}}">Guides</a></li>
            <li><a class="nav-link" href="#">Studio OKAÏ</a></li>
            <li class="btn-container"><button class="btn-contact-small" href="#">Contacter-nous</button></li>
            </ul>
        </nav>
        <img id="menu_icon" class="menu-icon" src="{{asset("images/hamburger-menu.png")}}" alt="">
    </header>

    <body {{ stimulus_controller('symfony/ux-swup/swup') }}>
    
    <div id="swup" class="transition-fade">
        {% block body %}{% endblock %}
    </div>
    <footer>
        
    </footer>
</body>
<script>
    let menuIcon = document.querySelector("#menu_icon")
    let menuIconClose = document.querySelector("#menu_icon_close")
    let list = document.getElementsByTagName("li")
    let nav = document.querySelector("nav")
   
   window.addEventListener("load",(showMobileMenu))
   window.addEventListener("resize",(showMobileMenu))

    function showMobileMenu() {
       
        if (window.innerWidth <= 1265) {
            
            menuIcon.addEventListener("click",toggleNav)
            
            //fais disparaitre le menu après avoir cliqué sur le lien
            Array.from(list).forEach(element => {
                element.addEventListener("click",toggleNav)
            });

            menuIconClose.addEventListener("click",toggleNav)
            
        }
    }
    function toggleNav() {
        nav.classList.toggle("show")
    }

</script>

</html>
