<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <a class="logo-container" href="{{ path("app_home")}}">
            <img class="logo" src="{{asset("images/logo.png")}}" alt="">
        </a>
        <nav class="hidden">
        <img id="menu_icon_close" class="menu-icon menu-icon-close" src="{{asset("images/hamburger-menu.png")}}" alt="">
            <ul class="list-container">
            <li><a href="#"></a>Qui sommes-nous</li>
            <li><a href="#"></a>Expertise</li>
            <li><a href="#"></a>Documents d'urbanisme</li>
            <li><a href="#"></a>Guides</li>
            <li><a href="#"></a>Studio OKAÏ</li>
            <li><a href="#"></a>Contacter-nous</li>
            </ul>
        </nav>
        <img id="menu_icon" class="menu-icon" src="{{asset("images/hamburger-menu.png")}}" alt="">
    </header>

    <body {{ stimulus_controller('symfony/ux-swup/swup') }}>
    
    <div id="swup" class="transition-fade">
        {% block body %}{% endblock %}
    </div>

    </body>
    <script>
    let menuIcon = document.querySelector("#menu_icon")
    let menuIconClose = document.querySelector("#menu_icon_close")
    let nav = document.querySelector("nav")

    menuIcon.addEventListener("click",() =>{
        nav.classList.toggle("show")
        
    })
    menuIconClose.addEventListener("click",() =>{
        nav.classList.toggle("show")
        
    })
    </script>

</html>
