<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset("images/logo.png")}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <a class="logo-container" href="{{ path("app_home")}}">
            <img class="logo" src="{{asset("images/logo.png")}}" alt="">
        </a>
        <nav class="hidden">
            <img id="menu_icon_close" class="menu-icon menu-icon-close" src="{{asset("images/menu-croix.svg")}}" alt="">
            <ul class="list-container">
            <li><a class="nav-link" href="{{path("app_about")}}">Qui sommes-nous</a></li>
            <li><a class="nav-link" href="{{path("app_expertise")}}">Expertise</a></li>
            <li><a class="nav-link" href="#">Documents d'urbanisme</a></li>
            <li><a class="temp-hidden nav-link" href="{{ path("app_guide_index")}}">Guides</a></li>
            <li><a class="nav-link" href="#">Studio OKAÏ</a></li>
            <li class="btn-container"><button class="btn-contact-small" href="#">Contacter-nous</button></li>
            </ul>
            <div class="rs">
                    <a href="https://www.facebook.com/cabinetokai/">
                        <img src="{{asset("/images/facebook-white.svg")}}" alt="">
                    </a>
                    <a href="https://www.instagram.com/cabinet.okai/">
                        <img src="{{asset("/images/instagram-white.svg")}}" alt="">
                    </a>
            </div>
        </nav>
        <img id="menu_icon" class="menu-icon" src="{{asset("images/menu-burger.svg")}}" alt="">
    </header>

    <body {{ stimulus_controller('swup') }}>
    
    <div id="swup" class="transition-fade">
        {% block body %}{% endblock %}
    </div>
    <footer id="footer">
        <div class="logo-container">
            <img src="{{asset("images/logo-footer.svg")}}" alt="">
        </div>
        <div class="container">
            
            <div class="text">
                <p>
                
                    <gras>Cabinet OKAÏ</gras>, votre référence en urbanisme en Guadeloupe.<br>
                     Études et conception de plans urbains.
                </p>
            </div>

            <ul class="links">
                    <li><a class="nav-link" href="#">Qui sommes-nous</a></li>
                    <li><a class="nav-link" href="#">Expertise</a></li>
                    <li><a class="nav-link" href="#">Documents d'urbanisme</a></li>
                    <li><a class="nav-link" href="{{ path("app_guide_index")}}">Guides</a></li>
                    <li><a class="nav-link" href="#">Studio OKAÏ</a></li>
            </ul>

            <div class="contact">
                <p>Suivez-nous pour vous tenir informé de
                 nos offres et astuces !
                </p>
                 <div class="rs">
                    <a href="https://www.facebook.com/cabinetokai/">
                        <img src="{{asset("/images/facebook.svg")}}" alt="">
                    </a>
                    <a href="https://www.instagram.com/cabinet.okai/">
                        <img src="{{asset("/images/instagram.svg")}}" alt="">
                    </a>
                 </div>
                 <button class="btn-contact-small">CONTACTER-NOUS</button>
            </div>
        </div>
        <div class="small-line"></div>
        <p>
            <a class="smalltext" href="#">Politique de confidentialité</a> 
            <a class="smalltext" href="#">Mentions légales</a>
        </p>
        <a class="smalltext" href="#">Site Cabinet Okaï - 2023</a>
    </footer>
</body>
<script>
    let menuIcon = document.querySelector("#menu_icon")
    let menuIconClose = document.querySelector("#menu_icon_close")
    let list = document.getElementsByTagName("li")
    let nav = document.querySelector("nav")
   
   window.addEventListener("load",(showMobileMenu))
   window.addEventListener("resize",(showMobileMenu))

    function showMobileMenu() {
       
        if (window.innerWidth <= 1265) {
            
            menuIcon.addEventListener("click",toggleNav)
            
            //fais disparaitre le menu après avoir cliqué sur le lien
            Array.from(list).forEach(element => {
                element.addEventListener("click",toggleNav)
            });

            menuIconClose.addEventListener("click",toggleNav)
            
        }
    }
    function toggleNav() {
        nav.classList.toggle("show")
    }

</script>

</html>
