

{% if mailSent == true %}
    <div style ="width:80%; text-align:center; padding:10px;">
        <p>le mail à bien été envoyé </p>
        <br>
        <p>Nous prendrons contact avec vous dans les plus bref délai</p>
        <br>
        <p style="opacity:0.5;"><em>Si vous souhaitez faire une nouvelle demande <br> recharger la page</em></p>
    </div>
{% else %}
    {{form_start(form)}}
    <p class="form-text">
        Confiez-nous vos coordonnées et entrons ensemble dans l’ère d’un urbanisme renouvelé.
    </p>
    <div id="contact">
        {{form_row(form.lastname)}}
        {{form_row(form.name)}}
        {{form_row(form.email)}}
        {{form_row(form.phone)}}
        <div {{stimulus_controller('guideForm')}}>
        {{form_widget(form.message)}}
        </div>
    <div>
        {{form_label(form.agreeTerm)}}

        <div class="checkmark" {{ stimulus_controller("checkbox")}}>
            {{form_widget(form.agreeTerm)}}
        </div>
    </div>

        {{form_row(form.submit)}}
    </div>
    {{form_end(form)}}
{% endif %}
    
