{{form_start(form)}}
 <p class="form-text">
    Confiez-nous vos coordonnées et entrons ensemble dans l’ère d’un urbanisme renouvelé.
 </p>
<div id="contact">
    {{form_row(form.lastname)}}
    {{form_row(form.name)}}
    {{form_row(form.email)}}
    {{form_row(form.phone)}}
    {{form_row(form.message)}}
<div>
    {{form_label(form.agreeTerm)}}

    <div class="checkmark" {{ stimulus_controller("checkbox")}}>
        {{form_widget(form.agreeTerm)}}
    </div>
</div>

    {{form_row(form.submit)}}
</div>
{{form_end(form)}}

