    {# <section id="guide">

        <h2 class="title">DÉCOUVREZ NOS GUIDES <span class="line-break-md"></span> SUR L’URBANISME</h2>
        <p class="description">
        <gras class="txt-weight">Explorez notre collection de guides sur l’urbanisme</gras>, conçus pour éclairer
         et informer. Du professionnel passionné à l’étudiant curieux, chacun y 
         trouvera des insights pertinents pour façonner le paysage urbain de demain.
        </p>

        <div {{stimulus_controller("swiper")}} class=" swiper mySwiper swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            
            <div class="swiper-wrapper" id="swiper-wrapper-cf6646dfbec0e433" aria-live="polite">
                
                {% for guide in guides %}

                        <div class="swiper-slide" role="group" aria-label="{{loop.index}}/{{loop.length}}">
                        <a href="{{path("app_slug_handler", {slug : guide.slug})}}">
                            <div class="img-container" style="background-image: url('{{asset("guide_uploads/" ~ guide.thumbnail)}}');"></div>
                            <h4>{{guide.titre}}</h4>
                        </a>
                        </div>
                {% endfor %}

            
            </div>
            
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </section> #}