{% extends 'base.html.twig' %}

{% block title %}Guide index{% endblock %}

{% block body %}
<div class="guide-container">
  <h1>Liste Des Guides</h1>
<a class="btn-contact-small" href="{{ path('app_guide_new') }}"><p>Article</p><img src="{{asset('/build/bootstrap/icons/plus.svg')}}"></a>
<table>
  <thead>
    <tr>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Description</th>
        <th scope="col">Temps de Lecture</th>
        <th scope="col">Publication</th>
        <th scope="col">Image</th>
        <th scope="col">Slug</th>
        <th scope="col">Publier</th>
        <th scope="col">Modifier</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for guide in guides %}
    <tr>
        <td data-label="Titre"><p>{{ guide.titre }}</p></td>
        <td data-label="Auteur"><p>{{ guide.auteur }}</p></td>
        <td data-label="Description"><p class="truncate-text">{{ guide.description }}</p></td>
        <td data-label="Temps de Lecture"><p>{{ guide.readingTime }}min</p></td>
        <td data-label="Publication">

          {% if guide.ispublished == true %}
            <div class="publication-status-yes"></div>
          {% else %}
            <div class="publication-status-no"></div>
          {% endif %}
        </td>
        <td data-label="Image"><img src="{{asset("guide_uploads/" ~ guide.thumbnail )}}"></td>
        <td data-label="Slug"><a href="{{path("app_slug_handler", {slug : guide.slug})}}">{{ guide.slug }}</a> </td>
        <td data-label="Publier">{{ guide.publishAt ? guide.publishAt|date('Y-m-d H:i:s') : '' }}</td>
        <td data-label="Modifier">{{ guide.modifiedAt ? guide.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
        <td data-label="actions">
        <div>
            <a href="{{ path('app_guide_edit', {'id': guide.id}) }}"><img src="{{asset('/build/bootstrap/icons/pen-fill.svg')}}"></a>
            {{ include('guide/_delete_form_icon.html.twig') }}
        </div>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="9">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
