<h1>Nouvelle demande de contact en provenance du Cabinet Okaï</h1>

<p><em>Information du contact</em></p>

Nom : {{lastname}}
<br>
Prénom : {{name}}
<br>
Mail : {{mail}}
<br>
Téléphone : {{phone}}
<br>
Message laissé par l'utilisateur : {{message}}